html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








@font-face{
    font-family : "twCenMT";
    src : url('fonts/TwCenMT.ttf');
}














html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black;
}

.notDisplayed {
	display: none;
}

.backgroundImg {
	margin:0 auto;
}

.page{
	height:100%;
	width:100%;
	background-size: cover;
}

#page1 {
	background-image: url(../img/background/scene1FondChambre.png);
}

/*#page2 {
	background-image: url(../img/background/scene2ZoomChambre.png);
}*/

#page2 {
	background-image: url(../img/background/scene3ExterieurNopex.png);
}

#page3 {
	background-image: url(../img/background/scene4FondLaboratoire.png);
}

#page4 {
	background-image: url(../img/background/scene5FondScanner.png);
}

/*#page6 {
	background-image: url(../img/background/scene6Choix.png);
}*/

#page5 {
	background-image: url(../img/background/scene7JeuFond.png);
}

#page6 {
	background-image: url(../img/background/scene8FicheRecapitulativeFond.png);
}

#page7 {
	background-image: url(../img/background/scene9ReflexionFond.png);
}


.bubbleUpLeft {
	background-color: rgba(255,255,255,0.7);
    width: 400px;
    height: 120px;
    position: absolute;
    top: 7%;
    left: 6%;
    padding: 20px;
    padding-bottom: 40px;
    font-family: twCenMT;
    color: black;
}


.nextTextButton {
	height: 21px;
    width: 11px;
    position: absolute;
    background: url(../img/rightArrow.png);
    background-size: 100%;
    bottom: 13px;
    right: 16px;
}

#firstBubbleChoice1, #firstBubbleChoice3, #thirdBubbleChoice1{
	bottom: -60px;
    left: 0px;
}

#firstBubbleChoice2, #thirdBubbleChoice2 {
	bottom: -100px;
    left: 0px;
}

.bubbleChoice {
	display: none;
	padding: 2px 20px;
	position: absolute;
	background-color: rgba(255,255,255,0.7);
}















.wholePage {
	height: 100%;
	background-color: grey;
}

.next-button {
	width: 200px;
	height:200px;
	margin: 0 auto;
	background-color: blue;
}

.circle {
    overflow: hidden;
	margin: 0 auto;
}

.imgInCircle {
	background: url(../img/circleImg.jpg) no-repeat 0px 0px;
	background-size: cover;
	height:100%;
	width: 100%;
}

.imgInCircleClicked {
	-webkit-transition: all 2s; /* Safari */
    transition: all 2s;
	background-position: 143px -1px;
	transform: scale(6);
}

#welcomeMessage {
	
}
