html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








@font-face{
    font-family : "twCenMT";
    src : url('fonts/TwCenMT.ttf');
}














html {
	height: 768px;
	width: 1024px;
}

body {
	height: 100%;
	width: 100%;
	background-color: black;
	overflow: hidden;
}

.notDisplayed {
	display: none;
}

.backgroundImg {
	margin:0 auto;
}

.page{
	height:100%;
	width:100%;
	background-size: cover;
}

#page1 {
	background-image: url(../img/background/Scene1FondChambre.jpg);
}

#page2 {
	background-image: url(../img/background/Scene3ExterieurNopex.jpg);
}

#page3 {
	background-image: url(../img/background/Scene4FondLaboratoire.jpg);
}

#page4 {
	background-image: url(../img/background/Scene5FondScanner.png);
}

#page5 {
	background-image: url(../img/background/fondJeu2.jpg);
}

#page6 {
	background-image: url(../img/background/mockup6ficherecapitulative.jpg);
}

#page7 {
	background-image: url(../img/background/Scene9ReflexionFond.jpg);
}

.bubbleUpLeft {
	background-color: rgba(255,255,255,0.7);
    width: 400px;
    height: 120px;
    position: absolute;
    top: 54px;
    left: 60px;
    padding: 20px;
    padding-bottom: 40px;
    font-family: twCenMT;
    color: black;
}


.nextTextButton {
	height: 21px;
    width: 11px;
    position: absolute;
    background: url(../img/rightArrow.png);
    background-size: 100%;
    bottom: 13px;
    right: 16px;
}

#firstBubbleChoice1, #firstBubbleChoice3, #thirdBubbleChoice1{
	bottom: -60px;
    left: 0px;
}

#firstBubbleChoice2, #thirdBubbleChoice2 {
	bottom: -100px;
    left: 0px;
}

.bubbleChoice {
	display: none;
	padding: 2px 20px;
	position: absolute;
	background-color: rgba(255,255,255,0.7);
}


#dragDropZone {
	width: 440px;
    height: 440px;
    position: absolute;
    top: 246px;
    left: 60px;
}

#transformEnvSmall {
    width: 453px;
    height: 450px;
    left: 511px;
    position: absolute;
    top: 199px;
}

#transformEnv img{
	left: 107px;
}

.changeEnvCircle {
	height: 100%;
	position: absolute;
	display: none;
}

#validationButton {
	display: none;
	padding: 2px 20px;
	position: absolute;
	top: 700px;
    left: 210px;
	background-color: rgba(255,255,255,0.7);
	font-family: twCenMT;
    color: black;
}

.healObject, .healObject2 {
	position: absolute;
	display: none;
}

.choiceObject1 {
	top: 65px;
	left: 117px;
}

.choiceObject2 {
	top: 65px;
	left: 260px;
}

.choiceObject3 {
	top: 8px;
	left: 75px;
}

.choiceObject4 {
	top: 8px;
	left: 227px;
}

.connectedGlass {
	height: 23px;
}

#endHealObjectZone .connectedGlass {
	height: 27.83px;
}

.bionicEye {
	height: 23px;
}

#endHealObjectZone .bionicEye {
	height: 27.83px;
}

.flowerHat {
	height: 104px;
}

#endHealObjectZone .flowerHat {
	height: 125.84px;
}


.saladHair {
	height: 104px;
	top: 124px;
	left: 117px;
}

#endHealObjectZone .saladHair {
	height: 125.84px;
	top: 150px;
	left: 142px;
}

.troisDLung {
	height:104px;
}

#endHealObjectZone .troisDLung {
	height: 125.84px;
}

.prescription {
	height: 104px;
}

#endHealObjectZone .prescription {
	height: 125.84px;
}

.scalpel {
	height: 104px;
}

.cutaneousEruption{
	height: 150px;
	top: 164px;
	left: 158px;
}

#endHealObjectZone .cutaneousEruption {
	height: 181.5px;
	top: 198px;
	left: 191px;
}

.pinkCheekbone{
	height: 24px;
	left: 162px;
	top: 211px;
}

#endHealObjectZone .pinkCheekbone {
	height: 29px;
	left: 196px;
	top: 255px;
}

.greenPea{
	height: 260px;
	left: 60px;
	top: 138px;
}

#endHealObjectZone .greenPea {
	height: 315px;
	left: 73px;
	top: 167px;
}

.pills {
	height: 104px;
}

#endHealObjectZone .pills {
	height: 125.84px;
}


.outgrowthEars {
	height: 55px;
	left: 125px;
	top: 184px;
}

#endHealObjectZone .outgrowthEars {
	height: 67px;
	left: 151px;
	top: 223px;
}

.syringe {
	height: 104px;
}

#endHealObjectZone .syringe {
	height: 125.84px;
}

.homeopathicPlants {
	height: 104px;
}

#endHealObjectZone .homeopathicPlants {
	height: 125.84px;
}

.charFace {
	position: absolute;
	left: 310px;
	top: 406px;
}

.chip {
	height: 41px;
}

#endHealObjectZone .chip {
	height: 50px;
}

.elevatedBrain {
	height: 56px;
	top: 131px;
	left: 148px;
}

#endHealObjectZone .elevatedBrain {
	height: 68px;
	top: 159px;
	left: 179px;
}

#endHealObjectZone {
	height: 532px;
	width: 532px;
	position: absolute;
	left: 258px;
	top: 272px;	
	z-index: 50;
}